img { display: block;}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container { width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* ----------------HEADER----------------*/
.header-link {
    display: flex;
    gap: 40px;
}

.header-div { 
display: flex;
width: 1158px;
padding: 0 15px 0 15px;
margin: 0 auto;
align-items: center;
}

.header-nav { display: flex;
align-items: center;
}

.header { 
    border-bottom: 1px solid #e7e9fc;
}
 .logo-web {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        text-decoration: none; }
        

 .studio {
    color: #2e2f42;
 }

 .link-header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    text-decoration: none;
 }

 .link-header:hover,
 .link-header:focus {
    color: #404bbf;
 }

 .address {
    font-style: normal;
    margin-left: auto;
 }

 .address-list {
    display: flex;
    gap: 40px;
 }

 .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
 }

 .address-link:hover,
 .address-link:focus {
    color: #404bbf;
 }
/* -------------------------------*/

/*---------------BODY---------------*/

/*---------------section1---------------*/
.sec-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.sec-one-prg {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.sec-one-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.sec-one-btn:hover,
.sec-one-btn:focus {
    background-color: #404bbf;
} 
/*------------------------------------*/

/*---------------section2---------------*/
.sec-two {
    padding: 120px 0;
}
.sec-two-ul {
display: flex;
gap: 24px;
}

.sec-two-li {
    width: calc((100% - 72px)/ 4);
}

.sec-two-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.sec-two-prg {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;

}
/*------------------------------------*/

/*---------------section3---------------*/
.sec-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.sec-three-dscr {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.sec-three-ul {
display: flex;
gap: 24px;
}

.sec-three-li {
    background-color: #FFFFFF;
    width: calc((100%- 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.worker {
padding: 32px;
padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/*------------------------------------*/

/*---------------section4---------------*/
.sec-four {
    padding: 120px 0 120px 0;
}

.sec-four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.sec-four-li {
    width: calc((100% - 48px) / 3);
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-dscr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-prg {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*------------------------------------*/

/*---------------FOOTER---------------*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-prg {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 0;
    max-width: 264px;
}
/*-------------------------------------*/